<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    
    <link rel="icon" type="image/png" href="logopink.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/valentineday.css') }}">
    <script src="{{ url_for('static', filename='js/valentine.js') }}"></script>
   
    <title>
    valentines-day
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <section>
        <nav>
        <div class="mainhead">
            <a href="{{url_for('home')}}" class="logolink">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logopink.png') }}" alt="...">
                    <h2>KGW</h2>
                </div>

            </a>
           
            <div class="group">
                <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                <input placeholder="Search" type="search" class="input">
            </div>
            <div class="links">
                <ul>
                    <li>
                        <i class="fa-solid fa-store"></i>Store
                    </li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        Account
                    </li>
                    <li>
                        <i class="fa-solid fa-heart"></i>
                        Wishlist
                    </li>
                    <li>
                        <i class="fa-solid fa-cart-shopping"></i>
                        Cart
                    </li>
                </ul>
            </div>
        </div>
        </nav>
    </section>

    <section>
        <div class="headerlinks">
            <ul>
                <li>
                    <a href="{{ url_for('valentine') }}">Valentine's Day 2025</a>

                    
                </li>
                <li>
                    <a href="{{ url_for('Diamonds') }}">
                    Gold with Lab Diamonds</li>
                    </a>
                <li>
                    <a href="#">
                    Personalized Jewellery</li>
                    </a>
                <li>
                    <a href="#">
                    Gift stored</li>
                    </a>
                <li>
                    <a href="#">
                    Men's Jewellery</li>
                    </a>
                <li>
                    <a href="#">
                    Latest Collections</li>
                    </a>
            </ul>
        </div>
    </section>

    <section>
        <div class="cell-1">
            <p>KGW Essentials</p>
            <center>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/gold_with_lab_diamonds-min_2805b1b1-5f4f-4132-920d-aeba4d5ea5e3.jpg?v=1737011387&width=1500" alt="Gold with Lab Diamonds">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/Silver_jwellery-min_56cbe85d-7e0d-40f3-85e9-1251e06148a1.jpg?v=1737011386&width=1500" alt="Silver Jewellery">
            </a>
            </center>
        </div>
    </section>

    <section>
        <div class="cell-2">
            <p>For Your Forever</p>
            <div class="cell-2-box">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Valentine_s_collection-min.jpg?v=1737011387&width=1500" alt="Valentine's Collection">
                </a>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/forever_love_collection-min_412f416d-f948-4270-86db-afeefac1b176.jpg?v=1737011387&width=1500" alt="Forever Love Collection">
                </a>    
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/infinity_collection-min_1c7adf58-0ef8-44e4-9572-0d6e9f4571af.jpg?v=1737011387&width=1500" alt="Infinity Collection">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Heart_collection-min_a0ce72fd-95a8-40bb-bbb6-9b9bc0a88156.jpg?v=1737011387&width=1500" alt="Heart Collection">
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="cell-3">
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/gift_for_her-min_1ecf5e6b-f39a-4f17-b09c-3b97a063e250.jpg?v=1737011387&width=1500" alt="Gifts For Her">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/gift_for_him-min_08587c07-bcd5-47f4-9ce2-500411001517.jpg?v=1737011387&width=1500" alt="Gifts For Him">
            </a>
        </div>
    </section>

    <section>
        <div class="cell-4">
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/web_copy_2.jpg?v=1737734177&width=3000" alt="Personalised Coupon">
            </a>
        </div>
    </section>

    <section>
        <div class="cell-5">
            <img src="https://www.giva.co/cdn/shop/files/heading-min.jpg?v=1737011377&width=1500" alt="Shop By Price">
        </div>
        <div class="cell-5-row">
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/under_999-min_6547a746-0993-4f7c-ad9f-15d0ab20a564.jpg?v=1737011377&width=1500" alt="Under 999">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/under_2999-min_91e799cd-cd26-4119-ab90-70e112bfce8c.jpg?v=1737011377&width=1500" alt="Under 2999">
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/under_4999-min_c8a30d2c-409f-4eae-9a2a-da0cf347fb8c.jpg?v=1737011377&width=1500" alt="Under 4999">                
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/premium-min_5c6f8f4d-3294-4080-a529-2cbb99e8e2ec.jpg?v=1737011377&width=1500" alt="Premium Gifts">
            </a>
        </div>
    </section>

    <section>
        <div class="scroll-title">
            <p>Most Loved Gifts</p>
        </div>
    </section>

    <section>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/PD088_1.jpg?v=1711627828&width=600" alt="Silver Valentine Pendant"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/products/PD0478_1.jpg?v=1640960314&width=600" alt="Elegance On The Rise Necklace"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/PD0115_1.jpg?v=1715680902&width=600" alt="Silver Mini Solitaire Pendant with Link Chain"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/PD01335_1_157a015b-84f1-44e5-80b8-ea57e35b3cba.jpg?v=1733144485&width=600" alt="Rose Gold Deer Heart Necklace"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/PD061_1.jpg?v=1712928583&width=600" alt="Silver Infinity Heart Necklace"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/ER0150_1.jpg?v=1713248262&width=600" alt="Silver Zircon Drizzle Drop Earrings"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/ER0621_1.jpg?v=1695303343&width=600" alt="Silver Love Like A Butterfly Studs"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/BR0694_1.jpg?v=1737613391&width=600" alt="Silver Zircon Ferns Bracelet"></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/ER053_1.jpg?v=1711627127&width=600" alt="Rose Gold Princess Earrings"></div>
            <!-- <div class="item"><img src="https://www.giva.co/cdn/shop/files/AVPD0104_1.jpg?v=1711630734&width=600" alt="Oxidised Silver Moonstone Crescnet Pendant with Box Chain"></div> -->
        </div>
    </section>

    <section>
        <div class="cell-6">
            <p>Proposal Rings</p>
            <center>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/gold_rings.jpg?v=1737016702&width=1500" alt="Gold Rings">
                </a>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Silver_rings.jpg?v=1737016703&width=1500" alt="Silver Rings">
                </a>
            </center>
        </div>
    </section>

    <section>
        <div class="cell-4">
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/IMG_4934-min_3aae1219-71e6-4cd7-8d50-8a72a2967ddd.jpg?v=1738386973&width=3000" alt="Media Banner">
            </a>
        </div>
    </section>
    
    <section>
        <div class="cell-6">
            <p>Gold Jewellery</p>
        </div>
        <div class="image-row">
            <div class="image-row-items">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/collections/1-min.png?v=1714027259" alt="Gold Pendant">
                </a>
            </div>
            <div class="image-row-items">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/collections/2-min.png?v=1714027310" alt="Gold Ring">
                </a>
            </div>
            <div class="image-row-items">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/collections/3-min.png?v=1714166276" alt="Gold Earring">
                </a>
            </div>
            <div class="image-row-items">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/collections/6-min.png?v=1714027360" alt="Gold Nose Pin">
                </a>
            </div>
            <div class="image-row-items">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/collections/Frame_2611018-min.png?v=1717158417" alt="Gold Bracelet">
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="cell-7">
            <div class="cell-7-box">
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Frame_2613178.jpg?v=1737019038&width=1500" alt="Captivating Solitaires">
                </a>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Frame_2613179_2.jpg?v=1737019037&width=1500" alt="Everyday Elegance">
                </a>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Frame_2613178_1.jpg?v=1737019038&width=1500" alt="Gift's Under 5k">
                </a>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/Frame_2613179.png?v=1737018954&width=1500" alt="Proposal Rings">
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="cell-6">
            <p>Lifetime Memories</p>
            <center>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/personalised_jwellery-min.jpg?v=1737011387&width=1500" alt="Personalized Jewellery">
                </a>
                <a href="#">
                <img src="https://www.giva.co/cdn/shop/files/convertible-min.jpg?v=1737011387&width=1500" alt="Convertible Bracelets">
                </a>
            </center>
        </div>
    </section>

    <section>
        <div class="cell-8">
            <p>Unique Gifts</p>
            <center>
            <a href="#">
            <img src="https://tokenz.com/cdn/shop/files/KCTV2418_1024x1024.jpg?v=1706596932" alt="Perfume Collection">
            </a>
            <a href="#">
            <img src="https://shama.co.in/cdn/shop/files/dgyp1_6f7010f9-ae56-416b-8072-dca7b1862b08.jpg?v=1736691683" alt="Candle Collection">
            </a>
            </center>
        </div>
    </section>

    <section>
        <div class="scroll-title"><p>Bestselling Gold Jewellery</p></div>
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLPD0182_5.jpg?v=1723893935&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLPD0226_5.jpg?v=1712407051&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLNE032_5_691c1ea2-aa28-423c-bf2a-96d201ebd93f.jpg?v=1729509899&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLER0225_5.jpg?v=1722238500&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLR0204_5_1_9c555569-fa8f-4617-9082-769b1c7648fc.jpg?v=1729510063&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLR088_5.jpg?v=1721739423&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/preview_images/9e35115889144c588b24d181c1140dc8.thumbnail.0000000000.jpg?v=1724914601&width=533" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLNP068_5.jpg?v=1728573612&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLER0453_5.jpg?v=1735536440&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLPD0262_5.jpg?v=1710422621&width=720" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/preview_images/7b2813c9e5444e71af36aec5fd2a40f8.thumbnail.0000000000.jpg?v=1724915170&width=533" alt=""></div>
            <div class="item"><img src="https://www.giva.co/cdn/shop/files/GDLR038_5.jpg?v=1734936584&width=720" alt=""></div>
        </div>
    </section>

     <section>
        <div class="cell-9">
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/husband-min_5e14cd53-dae4-45d4-ab9e-822e5504fb6e.jpg?v=1737011387&width=1500" alt="Husband">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/wife-min_76cf8aa7-78c7-4748-bb81-903497d65fe7.jpg?v=1737011387&width=1500" alt="Wife">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/fiance-min_55a48824-dfc9-4902-818c-db26ad0698ea.jpg?v=1737011387&width=1500" alt="Fiance">     
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/boyfriend-min_f458ef0b-a4a3-4127-bf8d-0f998a29b37c.jpg?v=1737011386&width=1500" alt="Boyfriend">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/girlfriend-min_eb550b1a-0231-4fe0-8bcf-d2854b0a4763.jpg?v=1737011387&width=1500" alt="Girlfriend">
            </a>
            <a href="#">
            <img src="https://www.giva.co/cdn/shop/files/best_friend-min_941e6212-6add-498c-aa83-f09ad6b46aaa.jpg?v=1737011386&width=1500" alt="Bestfriend">
            </a>
        </div>
    </section> 

    <!--owl carosel  -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ url_for('static', filename='js/valentine.js') }}"></script>
</body>
</html>
